%h1 Listing todo_lists

%table
  %tr
    %th Name
    %th Project
    %th
    %th
    %th

  - @todo_lists.each do |todo_list|
    %tr
      %td= todo_list.name
      %td= todo_list.project
      %td= link_to 'Show', todo_list
      %td= link_to 'Edit', edit_todo_list_path(todo_list)
      %td= link_to 'Destroy', todo_list, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td= link_to 'New todolist item', new_todo_list_todo_list_item_path(todo_list)

%br

= link_to 'New Todo list', new_todo_list_path
